@media screen and (max-width: 900px) {

    .erro {
        margin-left: 2% !important;
        width: 100% !important;
    }
}

.login {
    /* margin-top: 15%;
    margin-left: 35%; */
    width: 30%;
}

.texto {
    text-align: center;
    color: #da9841;
}

#registrar {
    color: #da9841;
}

.teste {
    height: 100vh;
}

.erro {
    margin-left: 20%;
    width: 60%;
}